<aside class="section">
    <ul class="action-bar">
        <li class="action-bar__item">
            <a href="{{path.activity}}">
                <i class="icon-inbox"></i><span class="action-bar__item__label">Activity</span>
            </a>
        </li>
        <li class="action-bar__item">
            <a href="{{path.activity}}">
                <i class="icon-search"></i><span class="action-bar__item__label">Search</span>
            </a>
        </li>
        <li class="action-bar__item">
            <a href="{{path.games}}">
                <i class="icon-play"></i><span class="action-bar__item__label">Games</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="action-bar__item">
            <a href="{{path.activity}}">
                <i class="icon-cube"></i><span class="action-bar__item__label">Admin</span>
            </a>
        </li>
        <li class="action-bar__item">
            <a href="{{path.docs}}" target="_blank">
                <i class="icon-book"></i><span class="action-bar__item__label">Docs</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="action-bar__item">
            <a href="{{path.activity}}">
                <i class="icon-chat"></i><span class="action-bar__item__label">Notifications</span>
            </a>
        </li>
        <li class="action-bar__item">
            <a href="{{path.activity}}">
                <i class="icon-profile"></i><span class="action-bar__item__label">Profile</span>
            </a>
        </li>
        <li class="action-bar__item">
            <a href="{{path.settings}}">
                <i class="icon-cog"></i><span class="action-bar__item__label">Settings</span>
            </a>
        </li>
        <li class="action-bar__item">
            <a href="{{path.activity}}">
                <i class="icon-help"></i><span class="action-bar__item__label">Help</span>
            </a>
        </li>
    </ul>
</aside>