<aside class="section">
    <ul>
        <li>
            <a href="{{path.activity}}">
                <i class="icon-inbox"></i><span>Activity</span>
            </a>
        </li>
        <li>
            <a href="{{path.activity}}">
                <i class="icon-search"></i><span>Search</span>
            </a>
        </li>
        <li>
            <a href="{{path.games}}">
                <i class="icon-play"></i><span>Games</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li>
            <a href="{{path.activity}}">
                <i class="icon-cube"></i><span>Admin</span>
            </a>
        </li>
        <li>
            <a href="{{path.docs}}" target="_blank">
                <i class="icon-book"></i><span>Docs</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li>
            <a href="{{path.activity}}">
                <i class="icon-chat"></i><span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="{{path.activity}}">
                <i class="icon-profile"></i><span>Profile</span>
            </a>
        </li>
        <li>
            <a href="{{path.settings}}">
                <i class="icon-cog"></i><span>Settings</span>
            </a>
        </li>
        <li>
            <a href="{{path.activity}}">
                <i class="icon-help"></i><span>Help</span>
            </a>
        </li>
    </ul>
</aside>