<footer>
    <ul>
        <li><a href="{{path.login}}">Login</a></li>
        <li><a href="{{path.register}}">Register</a></li>
        <li><a href="{{path.developers}}">Developers</a></li>
        <li><a href="{{path.styleGuide}}">Style Guide</a></li>
    </ul>
    The GRID © {{year}}. All rights reserved.
</footer>